.settings-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2vh;
}

.option-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 2vh;
	font-size: 2vh;
}

.option-container {
	display: flex;
	flex-direction: row;
	gap: 1vh;
}

.language-button {
	padding: 10px;
	font-size: 18px;
	border: 2px solid var(--border);
	border-radius: 50%;
	color: var(--border);
	cursor: pointer;
	background: var(--bg);
}
.language-button:hover {
	border: 2px solid var(--highlight);
}

.language-button.active {
	border: 2px solid var(--highlight);
	color: var(--highlight);
}