.button {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20vmin;
	height: 6vh;
	font-size: 2vmin;
	color: var(--border);
	border: 2px solid var(--border);
	border-radius: 10px;
	cursor: pointer;
	background: var(--bg);
}

.button:hover {
	border: 2px solid var(--highlight);
}

.active-button {
	color: var(--border);
	background: var(--highlight);
	border: 2px solid var(--border);
}

.button.unseen::after {
	content: "";
	position: absolute;
	width: 1.8vmin;
	height: 1.8vmin;
	top: -0.9vmin;
	right: -0.9vmin;
	background: var(--highlight);
	border-radius: 50%;
}