:root {
	--bg: #ececec;
	--bg-dotted: #202020;
	--bg-dots: rgba(74, 74, 74, 0.25);
	--sliding-wall: #e9e9e9;
	--title-border: #9b9b9b;
	--border: #a1a1a1;
	--title: #4b4b4b;
	--highlight: #b73c26;
	--button: #dddddd;
	--button-border: #7d7d7d;
	--button-text: #5c5c5c;
	--story-level-button-fill: #b3e09d;
	--story-level-button-text: #5c5c5c;
	--correct: green;
	--invalid: red;
	--song-title: blue;
}

body {
	margin: 0;
	background: var(--bg);
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	/* overflow: hidden; */
}

.hidden {
	display: none !important;
}