:root {
	--bg: #ececec;
	--bg-dotted: #202020;
	--bg-dots: rgba(74, 74, 74, 0.25);
	--sliding-wall: #e9e9e9;
	--title-border: #9b9b9b;
	--border: #a1a1a1;
	--title: #4b4b4b;
	--highlight: #b73c26;
	--button: #dddddd;
	--button-border: #7d7d7d;
	--button-text: #5c5c5c;
	--story-level-button-fill: #b3e09d;
	--story-level-button-text: #5c5c5c;
	--correct: green;
	--invalid: red;
	--song-title: blue;

	/* Unlockables */
	--unlocked-bg: #89d582;
	--unlocked-border: #67b65f;
	--unlocked-title: #37922f;
	--unlocked-requirement: #d8f3d6;
	--unlocked-reward: #d8f3d6;
	--unlocked-song-svg: #37922f;

	--locked-bg: #ececec;
	--locked-border: #a1a1a1;
	--locked-title: #4b4b4b;
	--locked-requirement: #a1a1a1;
	--locked-reward: var(--title);
	--locked-song-svg: #b3b3b3;

	/* --locked-bg: #383838;
	--locked-border: #808080;
	--locked-title: #d7d7d7;
	--locked-requirement: #bcbcbc;
	--locked-reward: var(--locked-title); */
}

body {
	margin: 0;
	background: var(--bg);
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	/* overflow: hidden; */
}

.hidden {
	display: none !important;
}