/*---- Base design -----------------------------------------------------------*/

#unlockables-screen {
	height: 100vh;
	width: 100vw;
	padding-top: 5vh;
	padding-bottom: 5vh;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 1vh;
}

#unlockables-title-and-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5vh;
}

#unlockables-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	gap: 5vh;
}

.unlockables-category-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 1vh;
}

/*---- Locked unlockable design ----------------------------------------------*/

.unlockable-container {
	width: 300px;
	padding: 10px;
	box-sizing: border-box;
	border: 2px solid var(--locked-border);
	border-radius: 10px;
	color: var(--border);
	background: var(--locked-bg);
}

.unlock-title {
	font-weight: bold;
	text-transform: uppercase;
	color: var(--locked-title);
}

.unlock-reward-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
}

.unlock-reward {
	color: var(--locked-reward);
}

.song-svg {
	height: 20px;
	width: 20px;
	color: var(--locked-song-svg);
	display: flex;
	align-items: center;
	justify-content: center;
}

.mode-svg {
	height: 20px;
	width: 20px;
	color: var(--locked-mode-svg);
	display: flex;
	align-items: center;
	justify-content: center;
}


/*---- Unlocked unlockable design --------------------------------------------*/

.unlocked {
	background: var(--unlocked-bg);
	border: 2px solid var(--unlocked-border);
}

.unlocked .unlock-title {
	color: var(--unlocked-title);
}

.unlocked .unlock-requirement {
	color: var(--unlocked-requirement);
}

.unlocked .unlock-reward-container .unlock-reward {
	color: var(--unlocked-reward);
}

.unlocked .unlock-reward-container .song-svg {
	color: var(--unlocked-song-svg);
}

.unlocked .unlock-reward-container .mode-svg {
	color: var(--unlocked-mode-svg);
}