#menu-screen {
	display: flex;
	flex-direction: column;
	gap: 50px;
	justify-content: center;
	align-items: center;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: 60px;
	font-size: 20px;
	color: var(--border);
	border: 2px solid var(--border);
	border-radius: 10px;
	cursor: pointer;
}

.button:hover {
	border: 2px solid var(--highlight);
}

.active-button {
	color: var(--border);
	background: var(--highlight);
	border: 2px solid var(--border);
}